# Visual Studio
.vs/
bin/
obj/
*.user
*.suo
*.cache

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

# Files built by VS
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.vspscc
*.vssscc
.builds
*.pidb
*.scc